.TextInput {
  border: 1px dashed rgba(var(--callout-border-rgb), 0.3);
  border-radius: 0.5rem;
  padding: 0.325rem 0.5rem;
}

.TextInput:disabled {
  cursor: not-allowed;
  background-color: rgba(var(--card-rgb), 0.2);
  border: 1px solid rgba(var(--callout-border-rgb), 0.4);
}

.TextInput:focus-visible {
  border: 1px solid rgba(var(--callout-border-rgb), 0.6);
}

.labelOnTop {
  width: 100%;
}

.labelOnTop .LabelRoot {
  padding-left: 0;
}

.InputWithButton {
  display: flex;
  align-items: end;
  gap: 0.5rem;
}

.SaveInputButton {
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0rem 0.5rem;
}

.SaveInputButton:focus-visible {
  outline: 1px solid rgba(var(--foreground-rgb), 1);
}

.SaveInputButton:disabled {
  cursor: not-allowed;
  color: var(--helperTextColor);
}

@media (hover: hover) and (pointer: fine) {
  .SaveInputButton:hover {
    transition: background 100ms ease-in;
    background-color: rgba(var(--callout-border-rgb), 0.1);
  }
}
