.TextInput {
  grid-area: input;
  width: 100%;
  display: flex;
  border: 1px dashed rgba(var(--callout-border-rgb), 0.3);
  border-radius: 0.5rem;
  padding: 0.325rem 0.5rem;
}

.TextInput:disabled {
  cursor: not-allowed;
  background-color: rgba(var(--card-rgb), 0.2);
  border: 1px solid rgba(var(--callout-border-rgb), 0.4);
}

.TextInput:focus-visible {
  border: 1px solid rgba(var(--callout-border-rgb), 0.6);
}

.labelOnTop {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.25rem;
}

.labelOnTop .LabelRoot {
  padding-left: 0;
}

.InputWithButton {
  display: flex;
  align-items: end;
  gap: 0.5rem;
}

.InputButtonWrapper {
  width: 100%;
  justify-content: space-between;
}

.SaveInputButton {
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: 0.5rem;
  padding: 0.225rem 0.175rem 0.225rem 0.225rem;
}

.SaveInputButton:focus-visible {
  outline: 1px solid rgba(var(--foreground-rgb), 1);
}

.SaveInputButton:disabled {
  cursor: not-allowed;
  color: var(--helperTextColor);
}
