.sliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
  touch-action: none;
  height: 30px;
  margin-top: 0.25rem;
}

.sliderTrack {
  background-color: rgba(var(--foreground-rgb), 0.3);
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 4px;
}

.sliderRange {
  position: absolute;
  background-color: rgba(var(--foreground-rgb), 0.7);
  border-radius: 9999px;
  height: 100%;
}

.sliderThumb {
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  background-color: rgba(var(--foreground-rgb));
  box-shadow: 0 2px 8px rgba(var(--foreground-rgb), 0.4);
  border-radius: 9999px;
  transition: border 100ms ease-out;
}

.sliderThumb:focus-visible {
  outline: none;
  border: 3px solid rgba(var(--foreground-rgb), 0.8);
  background-color: rgba(var(--callout-rgb));
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .sliderThumb:hover {
    border: 2px solid rgba(var(--callout-rgb));
    transition: border 100ms ease-out;
  }
}

@media (max-width: 700px) {
  .sliderThumb {
    width: 35px;
    height: 35px;
  }
  .sliderRoot {
    width: 100%;
    height: 35px;
  }
}

@media (prefers-color-scheme: dark) {
  .sliderThumb {
    box-shadow: none;
  }
}
