.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 6rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 100vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: clamp(300px, 95%, var(--max-width));
  max-width: var(--max-width);
}

.inputButton {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 1rem 1.5rem;
  background-color: rgba(var(--foreground-rgb), 0.9);
  color: rgba(var(--background-rgb));
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border-radius: var(--border-radius);
  border: 1px solid rgba(var(--callout-border-rgb), 0.6);

  transition: all 200ms ease-out;
}

.inputButton:focus-visible {
  outline: 2px solid rgb(var(--background-rgb));
  filter: invert(1);
}

/* button that has svg or .icon class */
.inputButton:has(svg, .icon) {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-right: 1.25rem;
}

@media (max-width: 700px) {
  .main {
    /* justify-content: left; */
    padding-top: 2.5rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

/* || global reusable styles */
.flex-center {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.flex-bottom {
  display: flex;
  gap: 0.25rem;
  align-items: baseline;
}

.space-between {
  justify-content: space-between;
}

.interact {
  cursor: pointer;
}

.fadeIn {
  animation: fadeIn 200ms ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.opacity-05 {
  opacity: 0.5;
}
.opacity-075 {
  opacity: 0.75;
}
.opacity-1 {
  opacity: 1 !important;
}

.gap-0125 {
  gap: 0.125rem;
}
.gap-025 {
  gap: 0.25rem;
}
.gap-05 {
  gap: 0.5rem;
}
.gap-075 {
  gap: 0.75rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-125 {
  gap: 1.25rem;
}
.gap-15 {
  gap: 1.5rem;
}

/* ----------------- */

/* || on non touch */
@media (hover: hover) and (pointer: fine) {
  .hover:hover {
    opacity: 1;
  }
}
