.credits {
  display: flex;
  width: min-content;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0 0 0;
  margin: 0rem 0rem;

  font-weight: 600;
}
.credits #svgProfileImage {
  filter: blur(3px) !important;
  -webkit-filter: blur(3px) !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

