.creditsWrapper {
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
  height: fit-content;
  font-size: 0.875rem;
  padding-top: 3rem;
}

.CreditsLink {
  margin: auto 0 auto -0.5rem;
  justify-items: end;
  padding: 0.5rem;
  text-decoration: none;
  opacity: 0.75;
  transition: all 200ms ease-in-out;
}

.CreditsLink:hover {
  opacity: 1;
}

.credits #svgProfileImage {
  filter: blur(3px) !important;
  -webkit-filter: blur(3px) !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.versionLink {
  text-decoration: none;
  margin: auto 0;
  padding: 0.5rem;
}

@media (max-width: 700px) {
  .CreditsLink {
    margin: auto 0;
  }
}
