
.description {
  font-size: 1rem;
  max-width: var(--max-width);
  width: 100%;
}

.description h1 {
  margin-bottom: 0.5rem;
}

.description h2 {
  margin-bottom: 0.5rem;
}

.description a {
  
  align-items: center;
  color: rgba(var(--foreground-rgb),0.7);
  text-decoration: none;
  padding: 0.5rem 0rem;
  padding-right: 1rem;
}



.description p {
  margin: 0;  
  -webkit-hyphens: auto;
  hyphens: auto;
  white-space: normal;
}

.credits {
  display: flex;
  width: min-content;
  align-items: center;
  gap: 0.5rem;
  margin: 0rem 0rem;
}
.imageWrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
}


/* || Share button section */
.shareWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.shareButton {
  display: block;
  cursor: pointer;
  padding: 0.5rem;
  color: rgba(var(--foreground-rgb),0.7);
  /* no shifting */
  border: rgba(var(--foreground-rgb), 0) solid 1px;

}

.shareButton:focus {
  border: rgba(var(--foreground-rgb), 0.9) solid 1px;
  border-radius: var(--border-radius);
}


.svgImage{
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media (hover: hover) and (pointer: fine) {

  /* || shareButton hover */
  .description a:hover,
  .shareButton:hover
   {
    color: rgba(var(--foreground-rgb), 1);
  
  }
    
  .imageWrapper:hover .svgImage {
    transition: filter 250ms;
    filter: blur(0);
  }
}