.description {
  margin-top: 10rem;
  font-size: 1rem;
  max-width: var(--max-width);
  width: 100%;
}

.description h1 {
  margin-bottom: 0.5rem;
}

.description a {
  color: rgba(var(--foreground-rgb), 0.7);
}

.inline {
  display: inline-flex !important;
  cursor: pointer;
}

.details {
  transition: all 200ms ease-in;
}

.summary {
  padding: 0.5rem 0;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
  /* margin-bottom: 0.125rem; */
}

summary::marker {
  display: none;
  opacity: 0;
}

.summaryDetails {
  margin: 0.25rem 0.5rem;
}
.description p {
  margin: 0;
  -webkit-hyphens: auto;
  hyphens: auto;
  white-space: normal;
}

.imageWrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

/* || Share button section */
.shareWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.shareButton {
  display: block;
  cursor: pointer;
  padding: 0.5rem;
  color: rgba(var(--foreground-rgb), 0.7);
  /* no shifting */
  border: rgba(var(--foreground-rgb), 0) solid 1px;
}

.shareButton:focus {
  border: rgba(var(--foreground-rgb), 0.9) solid 1px;
  border-radius: var(--border-radius);
}

@media (hover: hover) and (pointer: fine) {
  .summary:hover {
    opacity: 0.9;
  }

  /* || shareButton hover */
  .description a:hover,
  .shareButton:hover {
    color: rgba(var(--foreground-rgb), 1);
  }
}
