.formWrapper {
  width: 600px;
}

.checkboxesWrapper {
  display: flex;
}


.sliderLabel {
  display: flex;
  
}

.result {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 80px;
  width: 100%;

}

.result button {
  max-width: 80%;
}

.copySpan {
  transition: all 500ms ease-out;
}