.IslandSettings {
  width: 100%;
  background-color: var(--island-bg);
  --back-blur: 10px;
  backdrop-filter: blur(var(--back-blur));
  -webkit-backdrop-filter: blur(var(--back-blur));
  border-radius: inherit;
}

.SettingsContent {
  height: 100%;
  padding: 0.875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.SettingsFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.25rem;
}

.SettingsTitleContainer {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 0.25rem;
}

.LangaugesContainer {
  padding-top: 0.75rem;
  display: flex;
  gap: 0.5rem;
}

.LanguageSettingItem {
  position: relative;
  cursor: pointer;
  min-width: 0;
  width: fit-content;
  height: fit-content;
  padding: 0.15rem 0.6rem 0.15rem 1.35rem;
  border: 1px solid rgba(var(--callout-border-rgb), 0.2);
  border-radius: 999px;
  transition: all 150ms ease-out;
  background-color: oklch(38% 0.1 140.25 / 0.79);
  border: 1px solid oklch(42% 0.047 144.7);
  color: oklch(85.8% 0.057 145.1 / 0.93);
  box-shadow: oklch(62.1% 0.101 146.2 / 0.23) 0px -4px 9px 3px inset;

  transition: all 200ms ease-in-out;

  .Icon {
    position: absolute;
    left: 0.125rem;
    top: 0.25rem;
  }
}

.LanguageSettingItem::before {
  content: "";
  position: absolute;
  inset: 0;
  left: 0.425rem;
  top: 0.5rem;
  width: 0.6rem;
  height: 0.6rem;
  background-color: oklch(53.5% 0.124 143.6 / 0.87);
  filter: blur(4px);
  -webkit-filter: blur(4px);

  transition: all 200ms ease-in-out;
}

.LanguageSettingItem:hover {
  box-shadow: oklch(67.2% 0.11 146 / 0.4) 0px -4px 9px 3px inset;
}

.LanguageSettingItem:focus-visible {
  outline: solid #ffffff 1px;
}

.LanguageSettingItem[data-state="delete"] {
  background-color: oklch(0.31 0.12 32.26 / 0.87);
  border: 1px solid oklch(0.35 0.14 34.44);
  color: oklch(0.82 0.04 16.68 / 0.93);
  box-shadow: oklch(0.57 0.08 18.14 / 0.23) 0px -4px 9px 3px inset;
}

.LanguageSettingItem[data-state="delete"]:hover {
  box-shadow: oklch(0.71 0.23 23.03 / 0.23) 0px -4px 9px 3px inset;
}

.LanguageSettingItem[data-state="delete"]::before {
  background-color: oklch(0.57 0.26 29.35 / 0.87);
}

.SettingsTopRowElement p:nth-child(1) {
  opacity: 0.8;
  font-size: 0.875rem;
}

.SettingsTopRowElement p:nth-child(2) {
  opacity: 0.9;
  font-weight: 600;
}

.NumberListOuterBox {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
}

.ScoreCircleContainer {
  position: relative;
  width: 4rem;
  height: 4rem;
  transition: all 2000ms ease-in;
  --transition: 300ms;
}

.StrengthCircleBackground {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 99px;
  opacity: 0;
  box-shadow: oklch(0.73 0.25 145.24 / 0.25) 0px 0px 14px 1px;
  transition: all var(--transition) ease-in-out;
}

.ScoreCircleContainer[data-score="4"] .StrengthCircleBackground {
  opacity: 1;
  background: radial-gradient(
    circle,
    rgba(92, 205, 93, 0.77) 0%,
    rgba(7, 34, 13, 0.4) 100%
  );
  transition: all var(--transition) ease-in;
}

.ScoreCircleContainer[data-score="3"] .StrengthCircleBackground {
  opacity: 1;
  box-shadow: oklch(67.2% 0.11 146 / 0.2) 0px 0px 9px 3px;
  background: radial-gradient(
    circle,
    rgba(92, 205, 93, 0.2) 0%,
    rgba(7, 34, 13, 0.4) 100%
  );
  transition: all var(--transition) ease-in;
}
.ScoreCircleContainer[data-score="2"] .StrengthCircleBackground {
  opacity: 0;
  transition: all var(--transition) ease-in;
}
.ScoreCircleContainer[data-score="1"] .StrengthCircleBackground {
  opacity: 0;
  transition: all var(--transition) ease-in;
}
.ScoreCircleContainer[data-score="0"] .StrengthCircleBackground {
  opacity: 0;
  transition: all var(--transition) ease-in;
}
