.StrengthBar {
  transition: box-shadow 300ms ease-out;
}

.StrengthBar[data-score="4"] {
  box-shadow: rgb(60 152 66) -13px -4px 13px 6px inset;
}

.StrengthBar[data-score="3"] {
  box-shadow: rgb(33 141 41 / 82%) -5px -4px 12px 6px inset;
}
.StrengthBar[data-score="2"] {
  box-shadow: rgb(121 88 1 / 73%) -5px -4px 12px 6px inset;
}
.StrengthBar[data-score="1"] {
  box-shadow: rgb(59 20 20 / 88%) -5px -4px 12px 6px inset;
}
.StrengthBar[data-score="0"] {
  box-shadow: rgb(59 20 20 / 88%) -5px -4px 12px 6px inset;
}

@media (prefers-color-scheme: dark) {
  .StrengthBar[data-score="4"] {
    box-shadow: rgb(33, 94, 37) -11px -4px 13px 6px inset;
  }

  .StrengthBar[data-score="3"] {
    box-shadow: rgb(20 59 23 / 82%) -5px -4px 12px 6px inset;
  }

  .StrengthBar[data-score="2"] {
    box-shadow: rgb(68 51 6 / 73%) -5px -4px 12px 6px inset;
  }
}
