.IslandContainer {
  position: relative;
  display: flex;
  justify-content: center;
}

.IslandMain {
  z-index: 2;
  --island-border-radius: 1.75rem;
  --island-content-padding: 1.125rem;
  width: clamp(300px, 100dvw, 450px);
}

.WithButton {
  gap: 1rem;
}

.IslandContent {
  position: relative;
  border-radius: var(--island-border-radius);
  padding: var(--island-content-padding);
  color: #636363;
  border: 1px solid rgba(var(--skeleton-glow), 1);
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: -10px 0px 15px 0px rgba(var(--skeleton-glow), 0.3);
}

.IslandBackground {
  display: flex;
  user-select: none;
  -webkit-user-select: none;
  width: 100%;
  overflow: hidden;
  justify-content: space-between;
  border-radius: calc(var(--island-border-radius));
  border: 1px solid rgba(var(--skeleton-glow), 1);
  background-color: rgba(var(--form-bg-rgb), 0.5);
  --back-blur: 10px;
  backdrop-filter: blur(var(--back-blur));
  -webkit-backdrop-filter: blur(var(--back-blur));
  box-shadow: 1px 4px 14px 2px rgba(var(--skeleton-glow), 1);
}

.IslandBackground:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px rgba(var(--foreground-rgb), 0.75);
}

.IslandGenerateButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 1rem;
}

.IslandPillButton {
  cursor: pointer;
}

.PillIsland {
  max-height: 0;
}

.FullIsland {
  display: flex;
  justify-content: flex-end;
}

.Refresh {
  color: rgb(180, 180, 180);
}

.StrengthBar {
  position: absolute;
  top: 0;
  height: 100%;
  border-radius: 32px;
}

@media (hover: hover) and (pointer: fine) {
  .IslandGenerateButton:focus-visible {
    border: 1px solid rgba(var(--skeleton-glow), 0.1);
  }
}

@media (max-width: 700px) {
  .IslandMobileBackground {
    border-radius: calc(var(--island-border-radius) + 0.5rem);
  }

  .IslandGenerateButton {
    padding: 0.5rem 1.25rem;
  }

  .IslandContent {
    border-radius: calc(var(--island-border-radius) + 0.5rem);
    padding: calc(var(--island-content-padding) + 0.5rem);
  }

  .PillIsland {
    background-color: rgba(var(--form-bg-rgb), 0.5);
  }

  .IslandPillButton {
    user-select: none;
    -webkit-user-select: none;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    background-color: rgba(var(--form-bg-rgb), 0.9);
  }
}

@media (prefers-color-scheme: dark) {
  .IslandContent {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .IslandBackground {
    box-shadow: none;
  }
}

