.IslandAndButton {
  --island-border-radius: 1.75rem;
  --island-content-padding: 1rem;
  --island-bg: oklch(17.3% 0 0);
  --island-button-width: 2rem;
  --island-button-icon-size: 1.65rem;
  --island-button-gap: 0.5rem;
  --island-safe-zone-button: calc(
    100vw - var(--island-button-width) - var(--island-button-gap)
  );
  position: relative;
  width: clamp(300px, calc(100vw - 1.5rem), 420px);

  /* Move the island for visual balance */
  margin-right: 1rem;
}

.IslandAndButton[data-variant="pill"] {
  .SettingsButton {
    border: 1px solid rgba(var(--callout-border-rgb), 0.1);
  }

  .IslandMain {
    width: 55%;
  }
}

.IslandAndButton[data-variant="full"] {
  .SettingsButton {
    border: 1px solid rgba(var(--callout-border-rgb), 0);
    translate: 120% 30%;
  }
}

.SettingsButton {
  position: absolute;
  top: 0;
  margin-left: -20%;
  z-index: 10;
  left: 100%;
  background-color: var(--island-bg);
  color: oklch(100% 0 0);
  height: var(--island-button-width);
  width: var(--island-button-width);
  border-radius: 99px;
  transition: all 200ms ease-out;
  cursor: pointer;

  .Icon {
    margin: auto;
    width: var(--island-button-icon-size);
    height: var(--island-button-icon-size);
    transition: all 300ms ease-out;
  }
}

.SettingsButton:focus-visible {
  box-shadow: 0 0 0 2px rgba(var(--foreground-rgb), 0.75);
}

.IslandMain {
  margin: auto;
  min-width: 0;
  width: 100%;
  color: oklch(100% 0 0 / 0.87);
  /* overflow: clip; */
  display: flex;
}

.IslandContainer {
  position: relative;
  display: flex;
  justify-content: center;
}

.IslandContent {
  position: relative;
  border-radius: var(--island-border-radius);
  padding: var(--island-content-padding);
  overflow: clip;
  width: 100%;
  display: flex;
  align-items: center;
  transition: all 200ms ease-out;
}

.IslandPillButton {
  cursor: pointer;
}

.StrengthBar {
  position: absolute;
  top: 0;
  height: 100%;
  border-radius: 32px;
}

@media (max-width: 700px) {
  .IslandAndButton {
    --island-button-width: 3.25rem;
    --island-button-icon-size: 1.75rem;
    margin-right: 0;
  }

  .SettingsButton {
    margin-left: -3rem;

    .Icon {
      scale: 1.35;
      top: 0.75rem;
      left: 0.75rem;
    }
  }

  .IslandMobileBackground {
    border-radius: calc(var(--island-border-radius) + 0.5rem);
  }

  .IslandContent {
    border-radius: calc(var(--island-border-radius) + 0.5rem);
    padding: calc(var(--island-content-padding) + 0.5rem);
  }

  .IslandAndButton[data-variant="pill"] {
    .SettingsButton {
      border: 1px solid rgba(var(--callout-border-rgb), 0.1);
    }

    .IslandMain {
      width: 86%;
    }
  }

  .IslandAndButton[data-variant="full"] {
    .SettingsButton {
      border: 1px solid rgba(var(--callout-border-rgb), 0);
      background-color: transparent;
      translate: -20% 20%;
    }
  }

  .IslandMain {
    margin: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .IslandBackground {
    box-shadow: none;
  }
}
