

.loading {
  /* the formcomponent height on desktop */
  height: var(--formContainerHeight);



  margin-bottom: 2rem;
  border-radius: calc(var(--border-radius) + 1rem);
  position: relative;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  transform: translateZ(0);
  box-shadow: 0px 2px 8px -1px #0000001a;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.loading::before,
.loading::after {
  content: '';
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.loading::before {
  animation: 4s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.loading::after {
  inset: 0;
  padding: 1px;
  border-radius: inherit;
  
  background: rgba(var(--form-bg-rgb));
  -webkit-background-clip: content-box;
  background-clip: content-box;

  /* animation: pulse 2s ease-in-out infinite; */
}

.loader {
  width: 16px;
  height: 16px;
  border: 2px solid rgba(var(--foreground-rgb), 0.4);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotate 1.8s linear infinite;
  }


  @keyframes rotate {
    from {
      transform: rotate(-360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  
 @keyframes pulse {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
 }
/* Mobile */
@media (max-width: 700px) {
  .loading {
    /* the form component height on mobile */
    height: var(--formContainerHeight)
  }
}

