.ReloadPrompt-container {
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  z-index: 10;
}

.ReloadPrompt-toast {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: relative;

  max-width: 360px;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1.5rem 1rem;
  padding: 1rem;
  border-radius: 1.25rem;
  z-index: 1;
  text-align: left;
  backdrop-filter: blur(12px);
  transition: all 200ms ease-in;

  /* color-scheme dependent values */
  box-shadow: 1px 2px 12px 3px rgba(var(--card-border-rgb), 0.15);
  background-color: rgba(var(--form-bg-rgb), 0.6);
  border: 1px solid rgba(var(--card-border-rgb), 0.25);
}

.ToastButton {
  margin: auto;
  user-select: none;
  background-color: rgba(var(--callout-rgb), 1);
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;
  transition: all 100ms ease-out;
  cursor: pointer;
  /* color-scheme dependent values */
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
}

.ToastButton:active {
  scale: 0.96;
}

.DismissToast {
  position: absolute;
  left: 0;
  top: 0;
  translate: -35% -35%;
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 150ms ease-out;

  .Icon {
    color: rgba(var(--foreground-rgb), 0.6);
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgba(var(--callout-rgb), 1);
    border: 1px solid rgba(var(--card-border-rgb), 0.25);
    border-radius: 99px;
  }
}

.DismissToast:active {
  scale: 0.95;
}

@media (hover: hover) and (pointer: fine) {
  .ToastButton:hover {
    background-color: rgba(var(--form-bg-rgb), 1);
    scale: 1.04;
  }

  .DismissToast:hover {
    .Icon {
      background-color: rgba(var(--form-bg-rgb), 1);
    }

    scale: 1.05;
  }

  .DismissToast:active {
    scale: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .ReloadPrompt-toast {
    box-shadow: none;
    background-color: rgba(var(--form-bg-rgb), 0.8);
    border: 1px solid rgba(var(--card-border-rgb), 0.1);
  }

  .ToastButton {
    border: 1px solid rgba(var(--card-border-rgb), 0.05);
  }
}

@keyframes move-reverse {
  0% {
    right: 0;
    /* transform: translate(0); */
  }
  100% {
    right: 500px;
    /* transform: translateX(100%); */
  }
}
