




.copied {
  pointer-events: none;
  transition: filter 650ms;
  
  -webkit-user-select: none;
  user-select:none;
}

.notCopied {

  transition: filter 400ms;
  /* transform: translateX(-100%); */
}

.copied span {
  word-break: keep-all;
  white-space: nowrap;
  filter: blur(2px);
  transition: filter 2500ms ease-out;
  /* opacity: 0; */
}

.copiedSpanText {
  padding-right: 3.25rem;
  transition: all 200ms, border 200ms;
  /* display: inline-block; */
  color: rgba(var(--foreground-rgb), .7);
  display: flex;
  gap: 0.275rem;
  align-items: center;
  /* transform: translateX(-100%); */
                    /*  duration | delay */
  animation: move-reverse 300ms   900ms ease-out 1;
}

.notCopiedSpan {
  word-break: keep-all;
  white-space: nowrap;
  animation: move 150ms ease-out 1;
}
.notCopied span {
  filter: blur(0px);
  transition: filter 400ms ease-in;
  opacity: 100%;
  word-break: keep-all;
  white-space: nowrap;
}


@keyframes move {
  0% {
    transform: translate(-250%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes move-reverse {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateX(-200%);
  }
}


@media (prefers-reduced-motion) {
  .copiedSpanText {
    animation: none;
  }
  .notCopiedSpan {
    animation: none;
  }
}


