.copied {
  pointer-events: none;
  transition: filter 650ms;

  -webkit-user-select: none;
  user-select: none;
}

.notCopied {
  padding-right: 1rem;

  transition: filter 400ms;
}

.copied span {
  word-break: keep-all;
  white-space: nowrap;
  transition: filter 2500ms ease-out;
}

.copiedSpanText {
  color: rgba(var(--foreground-rgb), 0.4);
  display: flex;
  gap: 0.275rem;
  align-items: center;
  word-break: keep-all;
  white-space: nowrap;

  filter: blur(6px);
}

.resultButtonWrapper {
  right: 3.325rem;
  display: inline-block;
  top: 0.95rem;
}

.absoluteCopiedIcon {
  opacity: 0;
  position: absolute;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  transition: filter 200ms;
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: 0.5rem;
  padding: 0.45rem;
}

.parent[data-isCopied="true"] .absoluteCopiedIcon {
  opacity: 1;
}
.notCopiedSpan {
  word-break: keep-all;
  white-space: nowrap;
  filter: none;
  transition: filter 200ms ease-out;
}
.notCopied span {
  opacity: 100%;
  word-break: keep-all;
  white-space: nowrap;
}

.Shine {
  overflow: hidden;
}

.Shine[data-animate="true"]::after {
  animation: Shine 4s ease 300ms;
}

.EditButton {
  z-index: 10;
}

.Shine::after {
  content: "";
  background: linear-gradient(
    135deg,
    transparent 20%,
    transparent 10%,
    hsla(0, 0%, 100%, 0.2) 50%,
    hsla(0, 0%, 100%, 0.3) 50%,
    transparent 70%,
    transparent
  );
  position: absolute;
  inset: 0;
  width: 600%;
  height: 600%;
  transform: rotate(45deg);
  background-size: 200% auto;
  transform: translateY(20%) translateX(10%);
}

.ResultInput {
  width: calc(100% - 2.5rem);
}

@keyframes Shine {
  0% {
    transform: scale(2) translateY(-10%) translateX(-10%);
  }
  100% {
    transform: scale(2) translateY(100%) translateX(100%);
  }
}

@keyframes move {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes move-reverse {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateX(-80%);
  }
}

@media (prefers-reduced-motion) {
  .copiedSpanText {
    animation: none;
  }
  .notCopiedSpan {
    animation: none;
  }
}

